.messaging-container{
  margin-left: auto;
  height: 5em;

  width: 25%

}
.messagingBase{
  line-height: 2em;
}

.messaging-content{
  height: 20vh;
  margin-bottom:20vh
}

.popover-height{
  height: 80vh;
  width: 50vh
}